[submodule "t80"]
	path = t80
	url = https://github.com/EisernSchild/t80
[submodule "M6809"]
	path = M6809
	url = https://github.com/EisernSchild/6809_6309_compatible_core
[submodule "M6845"]
	path = M6845
	url = https://github.com/EisernSchild/MC6845
[submodule "M6800"]
	path = M6800
	url = https://github.com/EisernSchild/MC6800
